@import url('~/platform.css');

Page {
    background-color: #5D6974;
    font-size: 21;
}
TextField {
    margin: 10;
    padding: 10;
}
Image {
    margin-top: 20;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 80;
}
Button {
    margin: 5;
    padding: 10;
}
ActionBar {
    color: #FFFFFF;
    background-color: #273746;
}

.font-awesome-brands {
    font-family: fa-brands-400;
}

.font-awesome-regular {
    font-family: fa-regular-400;
}

.font-awesome-solid {
    font-family: fa-solid-900;
}